<f:comment>
    Copyright notice

    (c) Saxon State and University Library Dresden <typo3@slub-dresden.de>
    All rights reserved

    This script is part of the TYPO3 project. The TYPO3 project is
    free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.

    The GNU General Public License can be found at
    http://www.gnu.org/copyleft/gpl.html.

    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    This copyright notice MUST APPEAR in all copies of the script!
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:section name="ControlBar">
  <div class="control-bar">
      <div class="header-bar">
          <ul class="tudigit-viewer-logo">
              <li class="portal-logo">
                  <f:link.page pageUid="{rootPageId}" class="" title="Startseite">
                      <f:image src="EXT:dfgviewer/Resources/Public/Images/logo-tudigit.png" alt="Logo TU digit" />
                  </f:link.page>
              </li>
              <li class="signet-logo">
                  <f:link.external uri="https://www.ulb.tu-darmstadt.de" class="" title="Website Universität- und Landesbibliothek Darmstadt">
                      <f:image src="EXT:dfgviewer/Resources/Public/Images/ulb-logo.svg" alt="Logo Universität- und Landesbibliothek Darmstadt" />
                  </f:link.external>
              </li>
              <li class="signet-logo">
                  <f:link.external uri="https://www.tu-darmstadt.de" class="" title="Website Technische Universität Darmstadt">
                      <f:image src="EXT:dfgviewer/Resources/Public/Images/tud-logo-signet.svg" alt="Logo Technische Universität Darmstadt" />
                  </f:link.external>
              </li>
          </ul>
        <nav>
          <f:cObject typoscriptObjectPath="lib.menu.language" />
          <f:cObject typoscriptObjectPath="lib.menu.viewernav" />
          <button type="button" class="nav-toggle">
                <span class="nav-label">Open Navigation</span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
          </button>
        </nav>
      </div>

      <div class="control-bar-content">
          <div class="metadata-wrapper">
              <div class="tx-dlf-metadata">
                  <div class="control-bar-container metadata-basic">
                      <h3>
                          <span class="sidebar-heading-label">{f:translate(key:'metadata', extensionName:'dfgviewer')}</span>
                          <span class="sidebar-heading-state"></span>
                      </h3>
                      <f:cObject typoscriptObjectPath="plugin.tx_dlf_metadata"/>
                  </div>
              </div>
              <div class="offcanvas-toggle" title="<f:translate key='metadata' extensionName='dfgviewer' />"></div>
          </div>

          <div class="toc-wrapper">
              <div class="control-bar-container">
                  <h3>
                      <span class="sidebar-heading-label">{f:translate(key:'toc', extensionName:'dfgviewer')}</span>
                      <span class="sidebar-heading-state"></span>
                  </h3>
                  <f:cObject typoscriptObjectPath="plugin.tx_dlf_tableofcontents"/>
              </div>
              <div class="offcanvas-toggle" title="<f:translate key='toc' extensionName='dfgviewer' />"></div>
          </div>
      </div>
  </div>
</f:section>

</html>
